{% extends 'base.html' %}
{% block title %}Company Dashboard{% endblock %}
{% block content %}

<h2>Welcome {{ company.company_name }}</h2>
{% if company.approval_status!='approved' %}
<div class="alert alert-warning">
    You are not approved yet
</div>
{% endif %}

<h4 class="section-title">Create a Placement/Drive</h4>
<div class="card p-3 mb-4">
    <form method="POST" action="{{url_for('add_drive')}}">
        <div class="row g-2">
            <div class="col md-4">
                <input type="text" name="job" class="form-control" placeholder="Job Title" required>           
            </div>
             <div class="col md-4">
                <input type="text" name="job_desc" class="form-control" placeholder="Job Description">
            </div>
            <div class="col md-4">
                <input type="text" name="job_eligibility" class="form-control" placeholder="Job Eligibility">
            </div>
             <div class="col md-4">
                <input type="date" name="deadline" class="form-control" placeholder="Application Deadline">
            </div>
            <div class="col md-4">
                <button class="btn btn-success w 100">Add Placement</button>
            </div>
        </div>
    </form>
</div>

<h4 class="section-title">My placement Drives</h4>
{% for drive in my_drives %}
<div class="card p-3 mb-4">
    <div class="d-flex justify-content-between align-items-start">
        <h5>{{drive.job_title}}</h5>
        <p class="text-muted mb-1">{{drive.job_description}}</p>
        <p class="text-muted mb-1">{{drive.eligibility}}</p>
        <p class="text-muted mb-1">{{drive.application_deadline}}</p>
    </div>
    <div class="text-nowrap">
        {% if drive.status!='Closed' %}
        <form method="POST" action="{{ url_for('close_drive',drive_id=drive.id) }}" class="d-inline">
            <button class="btn btn-sm btn-outline-warning">Close</button>
        </form>
        {% endif %}
        <form method="POST" action="{{url_for('delete_drive',drive_id=drive.id)}}" class="d-inline">
            <button class="btn btn-sm btn-outline-danger">Delete</button>
        </form>
    </div>

    <hr>
    <h6>Applicants ({{applications[drive.id] | length}})</h6>
    
    <div class="table-responsive">
        <table class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Email</th>
                    <th>Resume</th>
                    <th>Status</th>
                    <th>Update</th>
                </tr>
            </thead>
            <tbody>
                {% for app in applications[drive.id] %}
                <tr>
                    <td>{{app.student.name}}</td>
                    <td>{{app.student.email}}</td>
                    <td>
                        {% if app.student.resume_path %}
                        <a href="{{url_for('uploded_file',filename=app.student.resume_path)}}">View</a>
                        {% else %}
                        <p>No resume</p>
                        {% endif %}
                    </td>
                    <td>
                        <span class="badge {% if app.status=='selected' %}bg-success{% elif app.status=='shortlisted' %}bg-warning{% elif app.status=='rejected' %}bg-danger{% else %}bg-primary{% endif %}">
                            {{app.status}}
                        </span>
                    </td>
                    <td>
                        <form method="POST" action="{{url_for("update_application",application_id=app.id)}}">
                            <select name="status" class="form-select-sm-me-2">
                                {% for s in ['Applied','selected','rejected','shortlisted'] %}
                                <option value="{{s}}" {% if app.status ==s %}selected{% endif %}>
                                    {{s}}
                                </option>
                                {% endfor %}
                            </select>
                            <button class="btn btn-success">Save</button>
                        </form>
                    </td>
                </tr>
               {% endfor %}
               
            </tbody>
        </table>
    </div>

    
 {% endfor %}


{% endblock %}